<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190868591042-fip44g0v89kh7i90f60q5pdljgg1c7ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190868591042-fip44g0v89kh7i90f60q5pdljgg1c7ia</string>
	<key>API_KEY</key>
	<string>AIzaSyBQMTj25-vaDiBdBrq74GJ18x2xhP8zhwM</string>
	<key>GCM_SENDER_ID</key>
	<string>190868591042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tihl.albumshare</string>
	<key>PROJECT_ID</key>
	<string>albumshare-65b3d</string>
	<key>STORAGE_BUCKET</key>
	<string>albumshare-65b3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190868591042:ios:915f132f1bd1b7f39d465b</string>
	<key>DATABASE_URL</key>
	<string>https://albumshare-65b3d.firebaseio.com</string>
</dict>
</plist>